<!doctype html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="{% static 'myglobal.css' %}">
    <title>Politica-de-confidențialitate</title>
</head>
<body>
{% include "menu.html" %}
<p><b>POLITICA DE CONFIDENȚIALITATE</b></p>
<p><b>IMPORTANT: Accesând site-ul nostru și/sau oferindu-ne orice informație cu caracter personal vă dați consimțământul
    explicit ca toate datele cu caracter personal pe care ni le furnizați să fie prelucrate de noi în modul și în
    scopurile descrise în continuare în această politică de confidențialitate și în conformitate cu legile și
    regulamentele în vigoare privind datele cu caracter personal.
</b></p>


<p>Respectăm confidențialitatea datelor dumneavoastră și ne angajăm să protejăm orice informații personale pe care le
    veți împărtăși cu noi,
    într-un mod adecvat. Această Politică de Confidențialitate descrie practicile de confidențialitate pentru site-ul
    intabulare-cadastru-topografie.ro.Ca o condiție de a utiliza serviciile noastre, sunteți de acord cu termenii din
    această <i>Declarație de politică de
        confidențialitate.</i></p>
<p>Această declarație poate fi actualizată, iar schimbările vor fi afișate pe această pagină. Această <i>Declarație de
    politică de confidențialitate</i> se aplică exclusiv serviciilor <u>P.F.A Rautu Andrei
    Mihai - Cadastru, Geodezie Si Cartografie.</u></p>
<p>Toate informațiile ce apar pe acest site sunt proprietatea <u>P.F.A Rautu Andrei Mihai - Cadastru, Geodezie Si
    Cartografie.</u>
    Ne rezervăm dreptul de a schimba conținutul în orice moment, fără notificare prealabilă.
    Prin citirea informațiilor prezentate în cadrul site-ului, confirmați acordul dvs. cu privire la acești termeni și
    conditii.
    <u>P.F.A Rautu Andrei Mihai - Cadastru, Geodezie Si Cartografie</u> nu colectează cu bună știință informații
    personale de
    la utilizatorii care au sub 18 ani.</p>

<p>Conform cerințelor Legii nr. 677/2001 pentru protecția persoanelor, cu privire la prelucrarea datelor cu caracter
    personal și libera circulație a acestor date, modificată și completată și ale Legii nr. 506/2004 privind prelucrarea
    datelor cu caracter personal și protecția vieții private în sectorul comunicațiilor electronice, avem obligația de a
    păstra confidențialitatea și de a utiliza în condiții de siguranță datele personale pe care ni le furnizați despre
    dvs.
    numai în scopuri de marketing direct și comercializarea de servicii.</p>

<p>Atunci când solicitați o rezervare prin intermediul paginii de site, vi se va cere să introduceți date cum ar fi
    numele
    dvs., adresa de e-mail și numărul de telefon. De asemenea, cerem acceptul pentru prelucrarea datelor, iar această
    permisiune ne este necesară să vă trimitem notificări. Nu folosim datele primite în urma acestei permisiuni în alte
    scopuri decât cel de notificare, nu vindem sau dăm altor terți aceste informații.</p>
<p>Dacă aveți întrebări, comentarii sau reclamații cu privire la această politică de confidențialitate sau practicile
    noastre de confidențialitate, vă rugăm să ne contactați la intabularecadastrutm@gmail.com.</p>

<p><b>POLITICA NOASTRĂ DE PRELUCRARE A DATELOR CU CARACTER PERSONAL</b></p>
<p>În vederea beneficierii de serviciile comandate, confirmării rezervării, informării dvs. privind stadiul rezervării,
    oferirii de răspunsuri la reclamațiile plasate, evaluării serviciilor oferite, precum și a exercitării unor
    activități
    comerciale, de promovare a serviciilor, de marketing, publicitate, de dezvoltare, de cercetare de piață, statistică,
    monitorizare a vânzărilor și comportamentului de cumpărare a clienților, activități administrative și de media,
    sunteți
    de acord să ne încredințați următoarele date cu caracter personal: nume, prenume, adresa de e-mail, adresa de ip și
    numărul de telefon. Vă rugăm să nu ne furnizați alte date cu caracter personal decât cele strict necesare scopului
    precizat în această politică.</p>

<p>Datele cu caracter personal furnizate cu consimțământul dvs. sunt și vor fi colectate și prelucrate de noi exclusiv
    în
    scopurile pe care le vom prezenta în cele ce urmează. Prelucrarea datelor cu caracter personal se realizează în
    temeiul
    consimțământului dvs. în acest sens (art. 6 alin. (1) lit. (a) din Regulamentul General privind Protecția Datelor,
    numit
    în cele ce urmează Regulament/ul).</p>

<p>Situațiile în care <u>P.F.A Rautu Andrei Mihai - Cadastru, Geodezie Si Cartografie</u> va colecta și prelucra datele
    dvs. cu caracter personal și scopurile în vederea cărora
    aceste
    date vor fi prelucrate sunt următoarele:</p>
<p><b>Cereri ofertă de prețuri</b>. Numele dvs., adresa de e-mail și numărul de telefon introduse în momentul
    solicitării, pe
    mail, a unei cereri de ofertă pot fi folosite pentru a vă contacta în legătură cu cererea de ofertă trimisă.</p>
<p><b>Rezervare</b>. Numele dvs, adresa de e-mail și numărul de telefon introduse în momentul solicitării programării
    unei întâlniri, pe acest
    site, pot fi folosite pentru a vă contacta în legătură cu cerința dvs.</p>

<p><b>Alte scopuri</b>. Puteți trimite date cu caracter personal (cum ar fi nume, adresa e-mail, număr de telefon)
    pentru alte
    scopuri decât cele menționate mai înainte. În orice situație, scopul pentru care sunteți rugați să ne furnizați
    informații este exprimat foarte clar. Nu vom folosi datele dvs. în alte scopuri care nu au fost specificate în
    momentul
    introducerii datelor.</p>
<p>Pentru a accesa conținutul acestui site nu este necesar să vă înregistrați ca utilizator și nici nu trebuie să ne
    furnizați informații despre dvs. Totuși, puteți folosi acest site pentru a trimite o cerere de ofertă de prețuri sau
    pentru a solicita o rezervare prin intermediul formularului în care ne furnizați informații despre dvs. În aceste
    situații, datele furnizate vor fi folosite exclusiv pentru a analiza cererea dvs. și a-i da curs, precum și pentru
    scopuri administrative aferente. Prelucrăm datele cu caracter personal furnizate de dvs. în baza consimțământului
    dvs.</p>
<p>Vă aducem la cunoștință că utilizăm diferite servicii de la furnizori externi sau interni (“persoane împuternicite de
    operator”), cărora le putem transmite o parte din datele cu caracter personal colectate de la dvs., cu mențiunea
    expresă
    că vom apela doar la persoane împuternicite care oferă garanții suficiente pentru punerea în aplicare a unor măsuri
    tehnice și organizatorice adecvate, astfel încât prelucrarea să respecte cerințele prevăzute în Regulament și să
    asigure
    protecția drepturilor dvs.</p>

<p>Categoriile de servicii pentru care colaborăm cu furnizorii mai sus menționați și datele cu caracter personal
    transferate acestora sunt următoarele:
    <li>Servicii SMTP (comunicare email) – adresa de e-mail;</li>
    <li>Servicii de facturare – nume, prenume, adresă de e-mail, număr de telefon, adresă;</li>
    <li>Servicii de trimitere SMS – numărul de telefon;</li>
    <li>Servicii de comentarii – nume, prenume, e-mail;</li>
    <li>Servicii de contabilitate – nume, prenume, adresă;</li>
    <li>Servicii juridice – nume, prenume, adresă;</li>
</p>
<p>Colectăm, stocăm și folosim aceste date cu caracter personal doar pentru scopurile menționate în momentul
    introducerii
    lor și le păstrăm doar cât timp este necesar realizării acelor scopuri sau pentru alte scopuri legitime aplicabile.
    Astfel, datele cu caracter personal furnizate de dvs. vor fi prelucrate pe perioada derulării relațiilor
    contractuale cu dvs., precum și ulterior, pentru o durată rezonabilă, care nu poate fi mai scurtă decât termenul
    general de prescripție.
    În aceste situații, dacă decideți să nu furnizați vreuna dintre datele cerute de noi, este posibil să nu puteți
    trimite formularele pentru cererea de ofertă și rezervare sau să nu putem da curs solicitării dvs.
</p>
<p>Datele furnizate în solicitarea sau în cererea dvs. sunt accesate de cei care prelucrează datele în vederea
    realizării scopului de prelucrare a datelor și/sau de specialiștii care oferă suport tehnic pentru realizarea
    sarcinilor legate
    de funcționarea și întreținerea sistemului tehnic. Nu furnizăm datele dvs. cu caracter personal altora decât
    dacă:</p>
<p>– se impune pentru a vă oferi serviciul solicitat și v-am informat în detaliu în această privință;</p>
<p>– considerăm cu bună-credință că dezvăluirea unor astfel de informații este necesară, în mod rezonabil, pentru a
    respecta anumite legi sau regulamente în vigoare;</p>
<p>– ni se solicită de autoritățile în drept;</p>
<p>– se impune pentru depistarea și prevenirea unei fraude, din motive tehnice sau de securitate.</p>
<p>Folosind acest site vă dați consimțământul ca noi să dezvăluim datele dvs. cu caracter personal unor terțe părți
    exclusiv pentru scopurile menționate. În nicio împrejurare nu vom vinde, oferi la schimb sau divulga temporar în
    schimbul unei sume de bani vreo informație cu caracter personal furnizată de dvs.</p>


<p><b>DREPTURILE DUMNEAVOASTRĂ</b></p>
<p>Luăm măsuri rezonabile pentru a ne asigura că datele dvs. cu caracter personal sunt exacte și actualizate ori de câte
    ori prelucrăm date cu caracter personal, în vederea realizării scopurilor pentru care au fost colectate.</p>
<p>Aveți următoarele drepturi privitoare la datele cu caracter personal pe care ni le-ați furnizat:</p>
<p>– <b>dreptul de acces la date</b> – aveți dreptul de a obține din partea <u>P.F.A Rautu Andrei Mihai - Cadastru,
    Geodezie Si
    Cartografie.</u> o confirmare că se prelucrează sau nu date cu caracter personal care vă privesc, precum și acces la
    datele respective; puteți obține o copie a datelor cu caracter personal furnizate societății noastre și care fac
    obiectul prelucrării;
</p>
<p><u>P.F.A Rautu Andrei Mihai - Cadastru, Geodezie Si Cartografie</u> poate percepe o taxă rezonabilă, bazată pe
    costurile administrative, pentru orice alte copii solicitate de dvs.; în cazul în care introduceți cererea în format
    electronic și cu excepția cazului în care solicitați un alt format, informațiile vă vor fi furnizate într-un format
    electronic utilizat în mod curent;</p>

<p>– <b>dreptul la rectificare </b>– aveți dreptul de a obține rectificarea de către <u>P.F.A Rautu Andrei Mihai -
    Cadastru,
    Geodezie Si Cartografie.</u> a datelor cu caracter personal
    inexacte, precum și dreptul de a obține completarea datelor cu caracter personal care sunt incomplete; <u>P.F.A
        Rautu
        Andrei Mihai - Cadastru, Geodezie Si Cartografie.</u> va comunica fiecărui destinatar căruia i-au fost
    divulgate datele cu caracter personal orice rectificare a acestora, cu excepția cazului în care acest lucru se
    dovedește imposibil sau presupune eforturi disproporționate și vă va informa cu privire la acești destinatari, dacă
    veți solicita acest lucru;</p>

<p>–<b>dreptul la ștergerea datelor</b> – aveți dreptul de a obține din partea <u>P.F.A Rautu Andrei Mihai - Cadastru,
    Geodezie
    Si Cartografie.</u> ștergerea datelor cu caracter personal care vă privesc, fără întârzieri nejustificate, iar <u>P.F.A
    Rautu Andrei Mihai - Cadastru, Geodezie Si Cartografie.</u>
    are obligația de a șterge datele respective, atunci când:
</p>
<p>(1) datele cu caracter personal nu mai sunt necesare pentru îndeplinirea scopurilor pentru care au fost colectate sau
    prelucrate;
</p>
<p>(2) vă retrageți consimțământul pe baza căruia are loc prelucrarea și nu există niciun alt temei juridic pentru
    prelucrare;
</p>
<p>(3) vă opuneți prelucrării și nu există motive legitime care să prevaleze în ceea ce privește prelucrarea;</p>
<p>(4) datele cu caracter personal au fost prelucrate ilegal;</p>
<p>((5) datele cu caracter personal trebuie șterse pentru respectarea unei obligații legale ce revine <u>P.F.A Rautu
    Andrei Mihai - Cadastru, Geodezie Si Cartografie.</u> în temeiul dreptului Uniunii sau al legislației române;
</p>

<p><u>P.F.A Rautu Andrei Mihai - Cadastru, Geodezie Si Cartografie</u> va comunica fiecărui destinatar căruia i-au fost
    divulgate datele cu caracter personal orice ștergere a acestora, cu excepția cazului în care acest lucru se
    dovedeste
    imposibil sau presupune eforturi disproporționate și vă va informa cu privire la acești destinatari, dacă veți
    solicita
    acest lucru;</p>
<p>– <b>dreptul la restricționarea prelucrării </b>– aveți dreptul de a obține din partea <u>P.F.A Rautu Andrei Mihai -
    Cadastru,
    Geodezie Si Cartografie.</u> restricționarea prelucrării în cazul în care vă aflați într-unul din următoarele
    cazuri:</p>
<p>(1) contestați exactitatea datelor, pentru perioada care îi permite <u>P.F.A Rautu Andrei Mihai - Cadastru, Geodezie
    Si
    Cartografie.</u> să verifice exactitatea datelor;</p>
<p>(2) prelucrarea este ilegală, iar dvs. vă opuneți ștergerii datelor cu caracter personal, solicitând în schimb
    restricționarea utilizării lor;</p>
<p>(3) <u>P.F.A Rautu Andrei Mihai - Cadastru, Geodezie Si Cartografie</u> nu mai are nevoie de datele cu caracter
    personal în scopul prelucrării, dar dvs. le solicitați pentru constatarea, exercitarea sau apărarea unui drept in
    instanță; sau</p>
<p>(4) v-ați opus prelucrării pentru intervalul de timp în care se verifică dacă drepturile legitime ale <u>P.F.A Rautu
    Andrei Mihai - Cadastru, Geodezie Si Cartografie.</u> prevalează asupra drepturilor dvs.;
</p>
<p><u>P.F.A Rautu Andrei Mihai - Cadastru, Geodezie Si Cartografie</u> va comunica fiecărui destinatar căruia i-au fost
    divulgate datele cu caracter personal orice restricționare a prelucrării, cu excepția cazului în care acest lucru se
    dovedește imposibil sau presupune eforturi disproporționate și vă va informa cu privire la acești destinatari, dacă
    veți solicita acest lucru;</p>
<p>– <b>dreptul la portabilitatea datelor</b> – aveți dreptul de a primi datele dvs. cu caracter personal, astfel cum
    acestea au fost furnizate către <u>P.F.A Rautu Andrei Mihai - Cadastru, Geodezie Si Cartografie</u>, într-un
    format structurat, utilizat în mod curent și care poate fi citit automat și de a transmite aceste date altui
    operator, în anumite condiții; aveți dreptul ca datele cu caracter personal să fie transmise direct de la <u>P.F.A
        Rautu Andrei Mihai - Cadastru, Geodezie Si Cartografie</u> la alt operator, atunci când acest lucru este
    fezabil din punct de vedere tehnic;</p>
<p>– <b>dreptul la opoziție </b>– aveți dreptul de a vă opune, din motive legate de situația particulară în care vă
    aflați, în orice moment, prelucrării datelor dvs. cu caracter personal, inclusiv creării de profiluri pe baza
    respectivelor dispoziții;</p>
<p>– <b>dreptul de a nu face obiectul unei decizii bazate exclusiv pe prelucrarea automată</b>, inclusiv crearea de
    profiluri;</p>
<p>– <b>dreptul de a depune o plângere</b> în fața Autorității Naționale de Supraveghere a Prelucrării Datelor cu
    Caracter
    Personal;</p>
<p>– <b>dreptul de a vă retrage consimțământul</b> în orice moment, fără a afecta legalitatea prelucrării datelor cu
    caracter
    personal efectuate de <u>P.F.A Rautu Andrei Mihai - Cadastru, Geodezie Si Cartografie</u> pe baza consimțământului,
    înainte de retragerea acestuia.
</p>
<p><u>P.F.A Rautu Andrei Mihai - Cadastru, Geodezie Si Cartografie</u> vă va furniza informațiile solicitate în format
    electronic atunci când este posibil, cu excepția cazului în care solicitați un alt format. Informațiile furnizate,
    precum și orice comunicare și măsuri luate în exercitarea de către dvs. a drepturilor de mai sus sunt oferite de <u>P.F.A
        Rautu Andrei Mihai - Cadastru, Geodezie Si Cartografie</u> gratuit. Cu toate acestea, în cazul în care cererile
    formulate de dvs. sunt nefondate sau excesive, în special din cauza caracterului lor repetitiv, <u>P.F.A Rautu
        Andrei Mihai - Cadastru, Geodezie Si Cartografie.</u> poate: fie să perceapă o taxă, ținând cont de costurile
    administrative pentru furnizarea informațiilor sau a comunicării sau pentru luarea măsurilor solicitate, fie să
    refuze să dea curs cererii.</p>
<p>Precizăm faptul că prin acceptarea acestui acord, datele dvs. personale vor fi prelucrate de <u>P.F.A Rautu Andrei
    Mihai - Cadastru, Geodezie Si Cartografie</u>, conform prezentei <i>Politici de Prelucrare a Datelor cu Caracter
    Personal.</i></p>

<p><b>POLITICA NOASTRĂ DE FOLOSIRE A COOKIE-URILOR ȘI A TEHNOLOGIILOR SIMILARE</b></p>

<p>Ca în cazul majorității site-urilor, când vizitați acest site, în memoria telefonului mobil, a tabletei sau a
    calculatorului vor fi stocate fișiere mici de date – fișiere de tip cookie, web beacon sau tehnologii similare. În
    această Politică, termenul “cookie” este folosit în sens larg și include tehnologii similare precum localStorage.
    Cookie-urile contribuie la funcționarea acestui site și ne oferă informații despre modul în care interactionați cu
    el. Utilizăm aceste informații pentru a ne îmbunătăți site-ul. Nu căutăm să identificăm utilizatorii individuali,
    decât dacă aceștia se oferă să ne furnizeze datele lor de contact prin intermediul unui formular sau al unei cereri
    de pe site.</p>

<p><b>Cookie-uri</b>. Există diferite tipuri de cookie-uri care îndeplinesc diferite funcții și care îmbunătățesc, în
    general, experiența pe care o aveți pe site. Putem folosi cookie-uri pentru a afla dacă ați mai vizitat site-ul sau
    pentru a memora unele preferințe pe care le-ați selectat când ați utilizat site-ul. Acest site folosește atât
    cookie-uri proprii, cât și cookie-uri adăugate de terți.</p>

<p><b>Cookie-urile folosite pe acest site pot fi clasificate în trei categorii:</b></p>
<p><i>Cookie-uri strict necesare</i>. Acestea sunt esențiale pentru funcționarea unor caracteristici ale site-ului,
    precum trimiterea conținutului formularelor completate pe site. Fără aceste cookie-uri nu v-am putea oferi
    serviciile pe
    care le solicitați, precum răspunsul la cererea de ofertă. Tot în această categorie intră și cookie-urile care ne
    permit
    să vă oferim serviciile solicitate explicit de dvs. în timpul unei sesiuni deschise in browser. Aceste cookie-uri nu
    colectează informații despre dvs. ce ar putea fi folosite în scopuri de marketing sau pentru a monitoriza locurile
    în care ați navigat pe internet.</p>

<p><i>Cookie-uri funcționale</i>. Acestea sunt folosite pentru a memora alegerile pe care le faceți pentru a vă oferi
    noi funcții care vor îmbunătăți experiența dvs. pe site.</p>

<p><i>Cookie-uri analitice</i>. Aceste cookie-uri sunt folosite pentru a strânge informații despre modul în care
    vizitatorii utilizează site-ul, de exemplu – numărul de vizite și durata medie a unei vizite.</p>

<p>Unele cookie-uri sunt cookie-uri primare și aparțin site-ului nostru. Altele sunt cookie-uri terțe și aparțin altor
    domenii. Noi folosim doar cookie-uri primare, exceptând cookie-urile terțe asociate cu Google reCAPTCHA, Gooogle
    Analytics și Google AdWords. Google reCAPTCHA este folosit pentru a face diferența între utilizatorii umani și
    computere, astfel încât să putem preveni acțiunile de tip spam. Google Analytics ne permite să măsurăm vânzările și
    conversiile și, în același timp, ne pune la dispoziție informații actuale privind modul în care vizitatorii ne
    utilizează site-ul, modul în care aceștia au ajuns pe site și modul în care îi putem determina să se întoarcă.
    Google
    AdWords ne ajută să fim prezenți în căutarea clienților, exact în momentul în care aceștia caută pe Google produsele
    sau
    serviciile pe care le oferim.</p>

<p>Vă rugăm să consultați Politica de confidențialitate Google, pe care o găsiți la adresa:
    https://www.google.ro/intl/ro_ro/policies/privacy/.</p>

<p><b>Web beacon-uri</b>. Paginile site-ului nostru pot conține mici fișiere electronice cunoscute ca web beacon-uri
    care ne
    permit să înregistrăm activități precum vizitarea unei anumite pagini web. Web beacon-urile sunt utilizate pentru a
    urmări folosirea acestui site și pentru a-i monitoriza performanțele.</p>
<p><b>Folosirea adreselor IP</b>. O adresă IP este un cod numeric care identifică computerul dvs. pe internet. Folosim
    adresa dvs. IP și tipul de browser pe care îl utilizați pentru a analiza modelul de utilizare a site-ului, pentru a
    detecta problemele site-ului și pentru a îmbunătăți serviciile pe care vi le oferim. Dar, fără informații
    suplimentare, adresa dvs. IP nu vă poate identifica individual.</p>

<p><b>Alegerea dvs</b>. Când ați accesat acest site, cookie-urile noastre au fost trimise către browserul dvs. și
    stocate pe
    calculatorul dvs. Prin utilizarea site-ului nostru, vă dați consimțământul pentru folosirea cookie-urilor și a
    tehnologiilor similare. Dacă doriți să le ștergeți, puteți face acest lucru cu ajutorul setarilor browserului dvs.;
    totuși, vă rugăm să aveți în vedere că, fără cookie-uri nu veți putea beneficia din plin de toate funcțiile
    site-ului
    nostru. Modul în care puteți șterge cookie-urile diferă de la un browser la altul. Puteți accesa meniul Ajutor din
    browserul dvs. pentru a consulta instrucțiunile.</p>
</body>
</html>