<!doctype html>
{% load static %}
<html lang="en" class="home_page">
<head>
    <link rel="stylesheet" href="{% static 'myglobal.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0″>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E0775SR1J1"></script>

    <title class="homepage_title">Servicii cadastru, geodezie, cartografie</title>
</head>
<body>
{% include "menu.html" %}


<div>

    <div class="row">
        <div class="homepage_info"><h3>Despre noi...</h3>
            <p> Ce ne recomandă? Pe scurt, pasiunea pentru domeniu și tehnologie.</p>
            <p> Cu peste 6 ani de existență, dorim să oferim eficiență, precizie și înaltă calitate a serviciilor.</p>
            <p> Punem preț pe pregres și dezvoltare, prin urmare investim în noi și în tehnologia ce ne ajută să oferim
                calitate excelentă a serviciilor.</p>
        </div>
        <div class="center">
            <div class="button"><a href="/Formular-de-contact/">Contactează-ne!</a>
            </div>
        </div>


        <div>
            <img align="center" src="{% static 'img-15.jpg' %}" alt="Station-1" style="width:100%"">
        </div>


        <div class='homepage_all_info'>
            <aside class="column1">
                <div class="homepage_info"><h3>Ce este cadastrul?</h3>
                    <p> Cadastrul a însemnat, în decursul timpului, activitatea umană de inventariere a resurselor
                        funciare,
                        pentru stabilirea impozitelor. În epoca contemporană, cadastrul și-a lărgit domeniul de
                        aplicare,
                        astfel ca reprezintă evidența tehnică, economică și juridică a tuturor bunurilor imobile
                        (pământ, ape, păduri, construcții etc.) - sursa <i>Wikipedia</i></p>
                    <p> Totalitate a lucrărilor tehnice de determinare exactă a unor proprietăți funciare, cu toate
                        caracteristicele lor.
                        - sursa <i>DEX</i></p>
                </div>
                <div class="homepage_info"><h3>Ce este intabularea?</h3>
                    <p> A înscrie o proprietate imobiliară sau a înregistra un act cu privire la un imobil în cartea
                        funciară. - sursa <i>DEX</i></p>
                    <p> Intabularea reprezintă înscrierea în cartea funciară prin care se constituie, se grevează, se
                        restrânge ori se stinge un drept real. - sursa <i>DEX</i></p></div>

                <div class="homepage_info"><h3>Ce este cartea funciară?</h3>
                    <p> Cartea funciară este un registru public din România, care cuprinde evidența juridică integrală
                        și
                        exactă a imobilelor, proprietatea persoanelor fizice și juridice din aceeași localitate.
                        Cartea funciară dovedește existența dreptului real înscris, în folosul persoanei care a dobândit
                        sau
                        constituit cu bună-credință un drept real imobiliar, cât timp nu se dovedește contrariul.
                        Publicitatea imobiliară se îndeplinește pe tot teritoriul țării prin carte funciară și are ca
                        obiect
                        înscrierea în cartea funciară a dreptului de proprietate și a celorlalte drepturi reale care se
                        transmit, se constituie, se modifică sau care, după caz, se sting și se radiază, ca urmare a
                        actelor
                        și faptelor juridice referitoare la un
                        bun imobil. În cartea funciară se mai înscriu, sau, după caz, se radiază și alte raporturi
                        juridice,
                        drepturi personale, interdicții, incapacități și litigii judiciare în legatură cu bunul imobil.-
                        sursa <i>Wikipedia</i></p>
                    <p> Cartea funciară descrie imobilele și arată drepturile reale ce au ca obiect aceste bunuri. -
                        sursa
                        <i>Codul Civil</i></p>
                </div>
            </aside>
            <aside class="column2">
                <div class="homepage_info"><h3>Ce este extrasul de cartea funciară?</h3>
                    <p> Extrasul de carte funciară pentru informare reprezintă situația cadastral - juridică a
                        imobilelor,
                        la momentul întocmirii acestuia.
                        Acesta conține informații cu privire la suprafața imobilului și descrierea acestuia, la dreptul
                        de
                        proprietate și eventualele sarcini existente asupra imobilului. - sursa <i>ANCPI</i></p>
                </div>
                <div class="homepage_info"><h3>Ce este geodezia?</h3>
                    <p> Geodezia este disciplina care se ocupă cu măsurarea şi reprezentarea Pământului, inclusiv a
                        câmpului
                        său
                        gravitaţional, într-un spaţiu tridimensional cu variaţie temporală. - sursa <i>Geodezie -
                            Conceste -
                            Carmen Grecea</i></p>
                </div>
                <div class="homepage_info"><h3>Ce este topografia?</h3>
                    <p> Ramură a geodeziei care se ocupă cu tehnica măsurătorilor unei porţiuni a scoarţei Pământului,
                        cu
                        determinarea poziţiei elementelor scoarţei terestre pe suprafeţe mici (considerate plane),
                        precum şi
                        cu tehnica reprezentării grafice sau numerice a suprafeţelor măsurate, în scopul întocmirii de
                        hărţi
                        şi planuri.</p>
                    <p>Descriere amănunţită a unui loc sub raportul aşezării, configuraţiei etc.; mod în care sunt
                        dispuse
                        în spaţiu elementele unui ansamblu - sursa <i>DEX</i></p></div>
            </aside>
        </div>
    </div>
</div>
</body>
</html>