<!DOCTYPE html>
{% load static %}
<html class="home_page" lang="en">
<head>
    <link rel="stylesheet" href="{% static 'myglobal.css' %}">
    <meta charset="UTF-8">
    <title>Meniu</title>
</head>
<body>
<div class="menu_link">

    <ul>
        <div class="link_site"><a href="https://intabulare-cadastru-topografie.ro/"><b>SERVICII CADASTRU, GEODEZIE, CARTOGRAFIE</b></a></div>
        <a href="/Acasa">Acasă</a>|
        <a href="/Servicii">Servicii</a> |
        <a href="/Blog">Blog</a> |
<!--        <a href="/Articole">Articole</a> |-->
        <a href="/Contact">Contact</a> |
        <a href="/Formular-de-contact">Formular de contact</a> |
        <a href="/Politica-de-confidentialitate">Politica de confidențialitate</a>
    </ul>
</div>
</body>
</html>