<!doctype html>
{% load static %}
<html class="home_page" lang="ro">
<link rel="stylesheet" href="{% static 'myglobal.css' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Servicii</title>
</head>
<body>
{% include "menu.html" %}
<h2>Servicii cadastru</h2>

<p><i>Lucrările de cadastru se execută cu scopul de a stabili date reale și complete referitore la bunurile imobile.
    Informațiile obținute sunt necesare atât pentru procesul de vânzare-cumpărare, cât și pentru cel de donație sau de
    schimb.</i></p>
<h3><u>Cadastru și intabulare apartamente</u></h3>
<p>Un cadastru pentru apartament se va efectua în baza unei documentații tehnice. Aceasta stă la baza înscrisurilor în
    Cartea Funciara și conține detalii tehnice legate de imobil.</p>
<p>Planurile topografice vor fi create in format analogic si digital de catre un expert autorizat de la ANCPI sau OCPI
    si vor contine date precum urmatoarele:</p>
<p>
    <li>Numărul cadastral</li>
    <li>Dimensiunile și forma apartamentului</li>
    <li>Suprafața</li>
</p>
<p>Partea juridica contine informatii legate de proprietarii din trecut si date cu privire la dreptul de superficie,
    uzufruct, ipoteca sau cesiune de creanta. Astfel, se vor stabili sarcinile ce pot fi constituite sau nu asupra
    imobilului.</p>
<p>Este necesară o copie a actului de identitate și a celui de proprietate, precum și un certificat fiscal în original.
    Acesta va dovedi indeplinirea obligatiilor de plata ale contribuabilului si poate fi emis la cerere de catre
    administratia financiara a municipiului in cauza. Pretul pentru cadastru si intabulare difera in functie de marimea
    proiectului si de regimul de lucru solicitat.</p>
<div class="button" align="center"><a href="Formular-de-contact/">Contactează-ne!</a></div>
<h3><u>Cadastru și întabulare case</u></h3>
<p>Lucrările de cadastru si intabulare pentru casa au rolul de a identifica proprietatile si de a le inscrie in
    registrele cadastrale si cartile funciare.</p>
<p>Acest proces se va efectua prin:</p>
<p>
    <li>determinarea întinderii, configurației și poziției bunului imobil, precum și a folosinței lui, raportată la
        destinația inițială
    </li>
    <li>identificarea resurselor funciare și intocmirea materialului documentar necesar introducerii sau scoaterii din
        circuitul agricol a terenurilor
    </li>
    <li>furnizarea elementelor calitative necesare evaluării bunurilor imobile</li>
</p>
<p>Pentru un cadastru sau o întabulare pentru casa din zonele cooperativizate va fi necesară autorizația acesteia,
    precum ți un proces-verbal de recepție finală. Locuințele noi pot trece prin etapa de întabulare doar cu un
    certificat de edificare construcție. Acesta este unul dintre actele necesare pentru cadastru și întabulare, care
    atesta faptul că lucrările au fost emise în mod corespunzător. Releveele sunt opționale, însă în multe tranzacții se
    vor cere și lipsa lor poate genera un cost suplimentar. Un alt document de cadastru pentru casa, la fel de important
    este certificatul de performanță energetică, care va cuprinde valori calculate cu privire la consum și la emisiile
    de CO2.</p>
<div class="button" align="center"><a href="Formular-de-contact/">Contactează-ne!</a></div>

<h3><u>Cadastru și întabulare terenuri</u></h3>
<p>Persoanele care își doresc să cumpere sau să vândă un teren agricol trebuie să afle dacă parcela deținută face parte
    dintr-un plan avizat sau nu. În prima situație, lucrurile devin mai simple și nu va fi nevoie decât de documentația
    specifică. După aceea, se vor realiza câteva verificări și procesul de intabulare pentru terenuri va fi complet.</p>
<p>Terenurile aflate în vecinatate pot fi alăturate pentru a deveni un teren unitar. Acest proces poartă denumirea de
    alipire și permite solicitantului să aibă o singură proprietate. Suprafața poate fi dezmembrată, în așa fel încât să
    fie împărțită în mai multe părti egale și diferite.</p>
<p>Dacă actele sunt avizate la timp de către OCPI, operațiunile de cadastru pentru teren vor fi finalizate în maxim 30
    de zile. Însă în cazul în care planul parcelar nu a fost avizat, lucrurile pot deveni dificile. Operațiunea de
    încadrare în tarla durează mai mult și cadastrul se va efectua cu mențiunea ‘’amplasament incert’’, în baza unei
    declarații notoriale a proprietarului care să ateste faptul că acesta înțelege și este de acord cu situația.</p>
<div class="button" align="center"><a href="Formular-de-contact/">Contactează-ne!</a></div>

<h2>Releveu</h2>

<p><i>Un releveu presupune o reprezentare grafică a elementelor unei construcții! Acesta este esențial în elaborarea
    proiectelor de interventie asupra unei cladiri existente si a consolidarii sau reabilitarii sale. De asemenea, este
    necesar in diferite tipuri de documentatii cadastrale. Printre cele mai cunoscute se enumera apartamentarile,
    reapartamentarile si schimbarile de destinatie.</i></p>

<p><i>Printr-un plan de releveu se vor scoate in evidenta detalii legate de spatiu, tipologie si decoratii. Informatiile
    pot fi create sub forma de grafice sau text, in functie de necesitatile celui care le solicita.</i></p>

<p><i>Ce este un releveu standard? Prin acesta se vor determina cotele generale, latimea si inaltimea golurilor si a
    parapetilor, destinatiile si suprafetele. Lucrarile de acest tip cu un nivel inalt de precizie sunt realizate cu
    ajutorul echipamentelor de scanare laser.</i></p>

<p><i>Ce este un plan releveu de arhitectura? Acesta contine informatii detaliate despre finisaje, echipamente sau
    instalatii si poate fi reprezentat de o serie de planse pentru fiecare nivel.</i></p>

<h3><u>Relevee Apartamente</u></h3>
<p>Băncile pot solicita releveul apartamentului, în vederea accesării unui credit sau la vânzarea acestuia. Pentru
    demararea procesului, este nevoie de extrasul de carte funciară. Acest document necesar pentru obtinerea releveului
    pentru apartament contine detalii cu privire la suprafata si la dreptul de proprietate sau eventualele sarcini
    existente. In cazul in care cartea funciara lipseste, se poate folosi contractul de vanzare-cumparare, sentinta
    civila sau alt act de proprietate. Se poate solicita releveul unui apartament si pentru o amenajare interioara sau
    pentru un contract de inchiriere. Pentru a crea un dosar complet, este important sa fie determinat numarul
    topografic sau cadastral.</p>

<div class="button" align="center"><a href="Formular-de-contact/">Contactează-ne!</a></div>
<h3><u>Releveu Imobil</u></h3>
<p>LAcest model de releveu este necesar pentru administratorii de cladiri, care doresc sa obtina o estimare exacta a
    spatiului pe care-l au la dispozitie. Se pot efectua masuri atat asupra suprafetei construite sau utile, cat si
    pentru fatadele care necesita reparatii sau casetari. Astfel, se va evita calcularea eronata a chiriei aferente
    fiecarui locatar si nu vor exista pierderi financiare.</p>
<p>Alte situatii in care un astfel de releveu pentru interior este necesar:</p>
<p>
    <li>expertize tehnice de rezistenta a constructiilor
    </li>
    <li>amenajarea unui spatiu cu specific comercial
    <li>amenajarea unui birou sau a unui spatiu cu specific bancar</li>
    <li>evaluari imobiliare</li>
    <li>amenajarea unor spatii de locuit</li>
    <li>activitati de cadastru</li>
</p>
<p>Primul pas este identificarea imobilului la adresa din actul de proprietate si masurarea dimensiunilor. Dupa aceea,
    calculul suprafetelor se va efectua geometric. Se va determina atat suprafata construita total, cat si nivelul de
    spatiu inchiriabil pe fiecare nivel. In ultima etapa se vor adauga si suprafetele comune, care sunt alocate tuturor
    celor care locuiesc in interior.</p>
<div class="button" align="center"><a href="Formular-de-contact/">Contactează-ne!</a></div>
<h3><u>Releveu Constructii</u></h3>
<p>O constructie noua trebuie sa arate bine din punct de vedere estetic si sa devina o cladire functionala si
    confortabila. De aceea, se vor efectua proceduri specifice si va fi necesara o serie de avize. In plus, exista
    reglementari care trebuie urmate pentru a duce lucrurile la capat si pentru a obtine un releveu pentru casa complet.
    Acestea fac referire la structura cladirii si sunt necesare pentru a garanta un anumit nivel ridicat de siguranta si
    faptul ca exista o procedura specifica in caz de urgenta. Pe parcursul constructiei se va monitoriza evolutia
    locuintei si abaterile de structura. Acest lucru se va face prin metoda de scanare 3D, care asigura o precizie
    milimetrica si formeaza o imagine de asamblu apropiata de realitate.</p>
</body>
</html>